<section class="layout-content">

    <nav class="navbar navbar-expand-md bg-light">
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <i class="fas fa-caret-right"></i>
                    <span>Home</span>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <!DOCTYPE html>
        <html>
        <head>
            <meta charset="UTF-8" />
            <title>Document</title>
        </head>
        <body>
            <h1 style="color:#5986cc">Seja bem vindo!!</h1>
            <p>Este é o melhor sistema de gerenciamento </p>
            <p>Você pode Cadastrar cliente, produtos, funcionarios, livros e outros atributos do livro </p>
            <p>Pode exibir consultas na tela sobre os itens cadastrado</p>
            <p>Pode gerar um pedido e realizar uma venda</p>
            <p>Tudo isso de um jeito siples e plático</p>

        </body>

    </html>


</div>

</section>